.item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    border: 2px solid black;
    padding: 1em;
}

item-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 2rem;
}

item-list-container{
    width: 100%;
}